.body{
    
    background-color: black;
    margin: 0px;
  
} 

header>.magic{
    color: aliceblue;
  background: linear-gradient(to right,purple,violet,pink,purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
  animation: bac 3s linear infinite;
 background-size: 200%;
}
@keyframes bac {
    from{
        background-position: 0%;
    }
    to{
        background-position: -200%;
    }
    
}
header{
    position: absolute;
 top: 12rem;

color: white;
font-size: 5rem;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.menuitems:hover{
    text-shadow: 3px;
    
}

#menuitems{
    width: 30%;
    
    margin-left: 56%;
    margin-top: 8%;
    font-size: 4rem;
   font-family: Georgia, 'Times New Roman', Times, serif;
}
.menuitems{
    padding: 1rem;
   
    display: block;
    text-decoration: none;
    
    
}
.bg{
    height: 25vh;
    width: 25vh;
    background-image: radial-gradient(circle,2px,blue,transparent 9%);
    position: absolute;
    background-position: 0%,0%;

}
    
      

